<ActionBar title="Leaderboard"></ActionBar>

<StackLayout>

  <ListView [items]="athletesList" class="small-spacing" [class.visible]="listLoaded">
    <template let-item="item">
      <StackLayout orientation="horizontal" class="athlete" (tap)="detail(item.username)">
        <Label [text]="item.rank" class="medium-spacing" verticalAlignment="center"></Label>
        <Image src="https://unsplash.it/200/200?random" stretch="none" verticalAlignment="center"></Image>
        <StackLayout>
          <Label [text]="item.userFirstName" class="name"></Label>
          <Label [text]="item.username" class="username"></Label>
        </StackLayout>
      </StackLayout>
    </template>
  </ListView>

  <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>

</StackLayout>