ListView {
  opacity: 0;
  margin-top: 20;
}
.visible {
  animation-name: show;
  animation-duration: 1s;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}
Label {
  color: #666666;
}
TextField {
  color: white;
}

.athlete {
  padding: 10;
}

.athlete Image {
  width: 30;
  height: 30;
  border-radius: 15;
  margin-right: 15;
}

.athlete .name {
  font-weight: bold;
  font-size: 16;
}

.athlete .username {
  font-style: italic;
  font-size: 12;
}