StackLayout {
    margin-left: 30;
    margin-right: 30;
    padding-top: 15;
    padding-bottom: 15;
    background-color: #1f242a;
}

Image {
    margin-top: 5;
    margin-bottom: 20;
}

TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
    border-style: solid;
    border-width: 1;
    border-color: #ffffff;
    color: #ffffff;
}

.submit-button {
    background-color: #0a96c8;
    color: white;
    margin-top: 20;
    margin-right: 16;
    margin-left: 16;
    text-transform: uppercase;
}