.wrapper {
  opacity: 0;
  position: relative;
}

Image {
  border-radius: 55;
  border-width: 3;
  border-color: #ffffff;
  margin-top: 145;
}

.username {
  color: #000000;
  margin-top: 65;
  font-size: 18;
  font-weight: bold;
}

.address {
  color: #000000;
  font-size: 14;
}

.title {
  background-color: #2196f3;
  padding: 15;
  color: #ffffff;
  margin-top: 15;
}

.visible {
  animation-name: show;
  animation-duration: 1s;
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.block-item {
  padding: 15;
}

.block-title {
  text-transform: uppercase;
  font-size: 16;
}

.block-text {
  text-transform: initial;
  font-size: 13;
}