<ActionBar title="Athlete"></ActionBar>
<ScrollView orientation="vertical">
  <StackLayout [class.visible]="athleteLoaded" class="wrapper" orientation="vertical">
    <StackLayout backgroundImage="https://unsplash.it/600/200?random" height="200" orientation="vertical" row="1">
      <Image src="https://unsplash.it/200/200?random" width="110" height="110" horizontalAlignment="center" verticalAlignment="bottom"></Image>
    </StackLayout>
    <StackLayout orientation="vertical" row="2">
      <Label [text]="athleteName" class="username" horizontalAlignment="center"></Label>
      <Label [text]="athleteLocation" class="address" horizontalAlignment="center"></Label>
    </StackLayout>
    <StackLayout orientation="vertical" row="3">
      <Label [text]="'Teams'" class="title" horizontalAlignment="stretch"></Label>
      <StackLayout *ngFor="let team of athleteTeams" class="block-item">
        <Label [text]="team.title" class="block-title"></Label>
        <Label [text]="team.orgTitle" class="block-text"></Label>
      </StackLayout>
    </StackLayout>
    <StackLayout orientation="vertical" row="3">
      <Label [text]="'Coaches'" class="title" horizontalAlignment="stretch"></Label>
      <StackLayout *ngFor="let coach of athleteCoaches" class="block-item">
        <Label [text]="coach.title" class="block-title"></Label>
        <Label [text]="coach.name" class="block-text"></Label>
      </StackLayout>
    </StackLayout>
    
    
    <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>

  </StackLayout>
</ScrollView>